/*
  Code written by Ricky Segura
  Los Angeles, California, United States of America

  devrickysegura@gmail.com
*/

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Libre+Barcode+39+Text&family=Nosifer&family=Racing+Sans+One&family=Rampart+One&family=Rubik+Wet+Paint&family=Share+Tech+Mono&display=swap');

::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background:#f1f1f1;border-radius:10px;}
::-webkit-scrollbar-thumb{background:#333;border-radius:10px;}
::-webkit-scrollbar-thumb:hover{background:#555;}

body {
  padding: 0;
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  background-color: black;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background: rgba(0, 0, 0, 1);
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks { display: none; }

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #333;
  color: white;
}

/* Style the active link (or home/logo) */
.active { font-family: 'Racing Sans One', cursive; }

/*#myLinks { background: #333; }*/

#tree-container {
  background-color: black;
  padding-bottom: 35px;
}

#link-tree {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  margin-top: 15px;
}

#link-tree a {
  width: 75vw;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

#link-tree a i {
  padding: 15px 0px 15px 0px;
  width: 25%;
  text-align: center;
  background-color: white;
  color: black;
  border-right: 1px solid black;
}

#link-tree a span {
  padding: 15px 0px 15px 0px;
  width: 75%;
  text-align: center;
  color: black;
  background-color: white;
}

#user-vid { background-color: white; }

#twitter-feed { background-color: #222; }

.video-container {
  height: 300px;
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 300px;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.container {
  position: relative;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.text{
  font-family: 'Libre Barcode 39 Text', cursive;

  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.text_hide{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.text_cursor{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-left: 3px solid white;
}